%nav.navbar.navbar-expand-lg.justify-content-end
  .container
    = link_to '</laura>', root_path, class:'navbar-brand neon' 
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-end
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Home', root_path, class:'nav-link active', data: {turbo: false}
        %li.nav-item
          = link_to 'Skills', root_path(anchor: 'skills'), class:'nav-link', data: {turbo: false} 
        %li.nav-item
          = link_to 'Experience', root_path(anchor: 'timeline'), class:'nav-link', data: {turbo: false} 
        %li.nav-item
          = link_to 'Projects', root_path(anchor: 'projects'), class:'nav-link', data: {turbo: false} 
        %li.nav-item
          = link_to 'About Laura', root_path(anchor: 'about'), class:'nav-link',data: {turbo: false}