%section#skills.py-3.px-2.text-white
  .container.py-5
    .row.justify-content-between.pb-1.g-5.align-items-center
      .col-12.col-md-6
        %h2.fw-bold.syne.text-uppercase.mb-0.neon My skills & tech
        %h4.mb-3.fw-normal.syne.neon
          %span.fw-bold
            No need to choose
          between Squirtle, Bulbasaur or Charmander, I'm basically
          %strong 
            all of them !
        = link_to "My Soft Skills", 'https://app.assessfirst.com/_/profile/g6cdjjp1-laura-latuillerie', class:"btn btn-translucide", target: "_blank"
        = link_to "More About Laura", 'https://app.assessfirst.com/_/profile/g6cdjjp1-laura-latuillerie', class:"btn btn-translucide-outline", target: "_blank"
        
      .col-12.col-md-6
        .row.g-5
          .col-6.col-md-6.d-flex.flex-column
            = image_tag('3.svg', class: 'skills-img gelatine')
            %h3.fs-6.mt-3.fw-bold Program, manage, deploy & host a web app/website
            %ul
              %li Ruby (Ruby on Rails)
              %li HTML (Haml)
              %li CSS (SCSS, Bootstrap)
              %li JS (Node, Webpack, Stimulus)
              %li Python (Django)
              %li SQL (PostGre)
              %li Heroku
              %li SEO
          .col-6.col-md-6.d-flex.flex-column
            = image_tag('2.svg', class: 'skills-img gelatine2')
            %h3.fs-6.mt-3.fw-bold Create brand identity, digital interfaces with UX guidelines
            %ul
              %li Adobe Illustrator
              %li Adobe Photoshop
              %li Adobe InDesign
              %li Figma
              %li Sketch
              %li Canva
          .col-6.col-md-6.d-flex.flex-column
            = image_tag('1.svg', class: 'skills-img gelatine2')
            %h3.fs-6.mt-3.fw-bold 3D, video or sound editing, podcast...You name it !
            %ul
              %li Adobe After Effects
              %li Fruity Loops, Cubase
              %li Headliner (Podcast)
              %li Sound record & Mix
              %li Motion Desgin
              %li Spline (3D)
          .col-6.col-md-6.d-flex.flex-column
            = image_tag('4.svg', class: 'skills-img gelatine')
            %h3.fs-6.mt-3.fw-bold Product management, direction & team workflow
            %ul
              %li Git/Github
              %li Trello
              %li Slack
              %li Notion