%section#timeline.py-4.text-white
  .container
    %h2.fw-bolder.syne.mt-5.text-uppercase.neon Experiences & Education
    %h4.mb-5.fw-lighter.syne
      %span.fw-bold
        As adventurous as
      Frodon & Sam on the road to the
      %span.fw-bold
        Mordor
    .row.mb-4.py-4.rounded-4
      .d-flex.justify-content-between.wrap-column
        %h5.fs-5.text-uppercase.syne # Retail & Management 
        %h5.fs-4.fw-bold.text-blush.syne 2009 - 2020
      
      %p.text-justify
        From sales advisor to floor and stock's manager, I had the
        chance to work for amazing brands. I've tried every single task you can try in a store and manage up to 50 people in my team or being the manager in charge for a whole flagship.
      .d-flex.ps-1.align-items-center.flex-wrap
        = image_tag('uniqlo.svg', height: '60', class:'me-3')
        = image_tag('puma.svg', height: '60', class:'me-3')
        = image_tag('nike.svg', height: '60', class:'me-3')
        = image_tag('adidas.svg', height: '60')
    .row.mb-4.py-4.rounded-4
      .d-flex.justify-content-between
        %h5.fs-5.text-uppercase.syne # Web Designer & Integrator
        %h5.fs-4.fw-bold.syne 2020 - 2022
      
      %p.text-justify
        I became successfully both a Web Designer and a Web Integrator with the help of WebForce3 School. Marketing Agency Cleever gave me an internship opportunity to meet my first clients. I had the chance to work for very diverse companies in various sectors : FinTech, Housing, Logistics & Education.
      .d-flex.align-items-center.flex-wrap
        = image_tag('https://cdn.wf3.fr/wp-content/themes/wf3/assets/img/logo-blanc-132.png', height: '25', class:'me-2')
        = image_tag('cleever.svg', height: '80')
        = image_tag('mitrust.svg', height: '70')
        = image_tag('voxpay.svg', height: '80', class:'me-2')
        = image_tag('local-solver.svg', height: '100', class:'me-2')
        = image_tag('iffi.svg', height: '80', class:'me-2')
        = image_tag('arpej.svg', height: '70')
    .row.mb-4.py-4.rounded-4
      .d-flex.justify-content-between
        %h5.fs-5.text-uppercase.syne # As a Freelancer
        %h5.fs-4.fw-bold.syne 2020 - 2022
      
      %p.text-justify
        I had opportunities as a freelancer to work for multiple
        national and international feminist NGOs and collectives. From
        brand identities to websites, video & social networks.
      .d-flex.align-items-center.flex-wrap
        = image_tag('cgf.svg', height: '80', class:'me-2')
        = image_tag('kizu.svg', height: '80', class:'me-2')
        = image_tag('pigments.svg', height: '80', class:'me-2')
        = image_tag('equipop.svg', height: '80', class:'me-2')
        = image_tag('rjfao.svg', height: '80')
    .row.mb-4.py-4.rounded-4
      .d-flex.justify-content-between
        %h5.fs-5.text-uppercase.syne # Full Stack Developper
        %h5.fs-4.fw-bold.syne 2021 - Now
      
      %p.text-justify
        Following both the "CS50's Web Programming with Python and JavaScript" (Computer Science) program from Harvard and graduated from Le Wagon school with a Full Stack Web Software Development Degree. Hacktiv welcomed the students for an internship. The project was to work on the website Opé-Jeunes which lists all the governmental helps for French youth.
      .d-flex.align-items-center.flex-wrap
        = image_tag('https://uikit.lewagon.com/assets/le-wagon-white-87edccbd4867769e0951b7da30e253c6efd8417ee9a53a6960a9740f2dd7486e.png', height: '40', class:'me-2')
        = image_tag('harvard.svg', height: '60', class:'me-3')
        = image_tag('hacktiv.svg', height: '30', class:'me-3')
        = image_tag('ope-jeunes.svg', height: '40')