%section#timeline.bg-pink.py-5.px-4
  .container
    %h2.text-nugget.fw-bolder.syne.mt-5.text-uppercase Experiences & Education
    %h4.mb-5.fw-light.text-white
      %strong
        As adventurous as
      Frodon & Sam on the road to the
      %strong 
        Mordor
    .row.mb-4.px-3.py-5.bg-subtile.rounded-4
      %h5.fs-4.fw-bold.text-white 2009 - 2020
      %h5.fs-5.text-white.text-uppercase 👟 Retail
      %hr.text-white
      %p.text-white
        From sales advisor to floor and stock's manager, I had the
        chance to work for amazing brands. I've tried every single task you can try in a store and manage up to 50 people in my team or being the manager in charge for a whole flagship.
      .d-flex.ps-1.align-items-center.flex-wrap
        = image_tag('uniqlo', height: '60', class:'me-3')
        = image_tag('puma', height: '60', class:'me-3')
        = image_tag('nike', height: '60', class:'me-3')
        = image_tag('adidas', height: '60')
    .row.mb-4.px-3.py-5.bg-subtile.rounded-4
      %h5.fs-4.fw-bold.text-white 2020 - 2022
      %h5.fs-5.text-white.text-uppercase 📱 Web Designer & Integrator
      %hr.text-white
      %p.text-white
        My journey started very young, having fun designing my Myspace page..But the real step happened at the end of 2020 with WebForce3 school.I became successfully both a Web Designer and a Web Integrator.Cleever gave me an internship opportunity to meet my first clients. Working at Cleever Marketing Agency for 4 months, I had the chance to work for very diverse companies in various sectors : FinTech, Housing, Logistics & Education and well...Cleever itself.
      .d-flex.align-items-center.flex-wrap
        = image_tag('https://cdn.wf3.fr/wp-content/themes/wf3/assets/img/logo-blanc-132.png', height: '25', class:'me-2')
        = image_tag('cleever', height: '80')
        = image_tag('mitrust', height: '70')
        = image_tag('voxpay', height: '80', class:'me-2')
        = image_tag('local-solver', height: '100', class:'me-2')
        = image_tag('iffi', height: '80', class:'me-2')
        = image_tag('arpej', height: '70')
      %h5.pt-4.fs-4.text-white 🕊️ As a Freelancer
      %hr.text-white
      %p.text-white
        I had opportunities as a freelancer to work for multiple
        national and international feminist NGOs and collectives. From
        brand identities to websites, video & social networks.
      .d-flex.align-items-center.flex-wrap
        = image_tag('cgf', height: '80', class:'me-2')
        = image_tag('kizu', height: '80', class:'me-2')
        = image_tag('pigments', height: '80', class:'me-2')
        = image_tag('equipop', height: '80', class:'me-2')
        = image_tag('rjfao', height: '80')
    .row.mb-4.px-3.py-5.bg-subtile.rounded-4
      %h5.fs-4.fw-bold.text-white 2021 - Now
      %h5.fs-5.text-white.text-uppercase 🦄 Full Stack Developper
      %hr.text-white
      %p.text-white
        Following both the "CS50's Web Programming with Python and JavaScript" (Computer Science) program from Harvard and graduated from Le Wagon school with a Full Stack Web Software Development Degree. Hacktiv welcomed the students for an internship. The project was to work on the website Opé-Jeunes which lists all the governmental helps for French youth.
      .d-flex.align-items-center.flex-wrap
        = image_tag('https://uikit.lewagon.com/assets/le-wagon-white-87edccbd4867769e0951b7da30e253c6efd8417ee9a53a6960a9740f2dd7486e.png', height: '40', class:'me-2')
        = image_tag('harvard', height: '60', class:'me-3')
        = image_tag('hacktiv', height: '30', class:'me-3')
        = image_tag('ope-jeunes', height: '40')