.container.vh-100
  .row.py-5.align-items-center.text-white.h-50
    .col-12.col-md-6.text-center
      = image_tag('pp.png', width: '450', class:"bounce") 
    .col-12.col-md-6
      %h1.fs-1.pb-4
        %span.neon
          Working with me
        👀
      %h2.fs-3
        %span.neon
          Laura, Human, Paris.
        
      .row
        .col-md-4
          %h3.fs-5.syne.neon I like
          %ul
            %li Learning
            %li Manga
            %li Wuxia
            %li Beatmaking
            %li Scare people with astrology
            %li Travel
            %li Cat videos (Who doesn't?)
        .col-md-4
          %h3.fs-5.syne.neon I talk
          %ul
            %li French (Native)
            %li English (C1)
            %li Vietnamese (Basic)
            %li Japanese (A1)
            %li Spanish (High School)
            %li Korean (Starting)
        .col-md-4
          %h3.fs-5.syne.neon I am
          %ul
            %li Quick Witted
            %li Inquisitive 
            %li Solution-driven 
            %li Supportive
            %li Inventive
            %li A funky nerd at heart
      %h2.fs-3.pt-4.pb-2
        %span.neon
          How to reach me ?
        
      .row
        %h3.fs-5.syne.neon Informations needed
        %ul
          %li * If company, a description of the position
          %li * Duration of mission, deadlines
          %li * A detailed list of the technical expectations of your project
        %ul.list-inline.fs-3.text-white.social-icons
          %li.list-inline-item
            = link_to("https://www.malt.fr/profile/laural3", target: "_blank") do
              = image_tag('Malt_logo_white', height: '35', class:"pb-1")
          %li.list-inline-item
            = link_to("mailto:laura.latuillerie@gmail.com", target: "_blank") do
              %i.fa-solid.fa-envelope-open-text
          %li.list-inline-item
            = link_to("https://github.com/laura-latuillerie/", target: "_blank") do
              %i.fa-brands.fa-github
          %li.list-inline-item
            = link_to("https://www.linkedin.com/in/laura-latuillerie/", target: "_blank") do
              %i.fa-brands.fa-linkedin
          %li.list-inline-item
            = link_to("https://youtu.be/gdZLi9oWNZg", target: "_blank") do
              %i.fa-solid.fa-music
          
        