%section.container.banner.p-4
  .row.h-100.align-items-center
    .col-12.col-md-6.order-last.order-md-first.pb-5
      %h1.fw-bold.text-white.text-uppercase.m-0.typing-effect.neon
      %h2.fs-3.text-white.fw-bolder.syne 360° player whom fits anywhere
      %h2.fs-5.text-white.fw-light
        I'm Laura Latuillerie, a
        %strong Full Stack Developper
        based in Paris with
        %em UI/UX Design
        Digital
        %em Marketing
        Skills.
      = link_to "Laura's Works", '#works', class:"btn btn-translucide"
      = link_to 'Skills & Experience', '#skills', class:"btn btn-translucide-outline"
    .col-12.col-md-6.bg-image.d-flex.justify-content-center
      = image_tag('mini_room.png', class: 'banner-img')
      
= render 'skills'
= render 'timeline'