<!DOCTYPE html>
<html>
  <head>
    <title>Laura Latuillerie - Full Stack Developper with Design & Marketing skills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag asset_path('laura.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <span id="top"></span>
      <%= render 'shared/navbar' %>
    </header>
    <div id="loading" class="font--pixel fs-4"></div>
    <%= yield %>
    <script src="https://unpkg.com/typeit@8.4.0/dist/index.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
  </body>
  </div>
</html>
